.partenaire{
   background-color: #272D51; 
    text-align: center;
    text-transform: uppercase;
    color:white;
    border :3px solid white;
    width: 265px;
    height:50px;
    z-index:5;
     position: absolute;
    font-weight: bold;
    
}
/* Formulaire */


.form-group , .containerForm p , .containerForm h2 , {
    justify-content: center;
    
}
.containerForm {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

h2 ,label ,.containerForm p {
    color:#272D51;
}
h2 {
        font-weight: bold;

}


#btn_envoi {
    background-color:  #272D51 ;
    color:white;
    font-weight: bold;
}
.divImg1 {
    
        background-image: url('../images/sol1.png');
    background-size: contain;
    background-position: center;
    height:420px;
}
.divImg p{
    
   color:#272D51;
    padding-top: 5rem;
    line-height: 10px;
}
.row p{
    
    color:#272D51;
}
.divImg2 {
    
     background-image: url('../images/sol2.png');
    background-size: contain;
    background-position: center;
    height:420px;
}
.divImg2 p{
    
   color:#272D51;
    padding-top: 5rem;
}
.divImg3 {
    
     background-image: url('../images/sol3.png');
    background-size: contain;
    background-position: center;
    height:420px;
}
.divImg3 p{
    
   color:#272D51;
    padding-top: 5rem;
}

.footer {
    background-color: #272D51;
    height :8rem;
    font-size:11px;
}
nav a {
	text-decoration :none;
	color:white;
    padding-left: 1.5rem;

	
}
nav a:hover {
    text-decoration: none;
    color:white;
}
nav a:visited {
    text-decoration: none;
    color:white;
}
.adresse 
{
    display: inline-grid;
    color:white;
}
.logoFooter {
    width: 3.4rem;
}
.footer p{
 line-height: 1px;
color: white;
}
