#un , #deux , #trois , #quatre {
    height:200px;
}


#un {

background-color :indianred;
    
}
#deux {

background-color :cadetblue;

    
}
#trois {

background-color :darkseagreen;

   
}
#quatre {
    
    background-color :plum;


}
