.partenaire{
   background-color: blueviolet; 
    text-align: center;
    text-transform: uppercase;
    color:white;
    border :3px solid white;
    width: 200px;
    height:50px;
    z-index:5;
    bottom:50px;
}

.footer {
    background-color: #272D51;
    height :8rem;
    font-size:11px;
    font-family: "Comic Sans MS"
}
nav a {
	text-decoration :none;
	color:white;
    padding-left: 1.5rem;

	
}
nav a:hover {
    text-decoration: none;
    color:white;
}
nav a:visited {
    text-decoration: none;
    color:white;
}
.adresse
{
    display: inline-grid;
    color:white;
}
.logoFooter {
    width: 3.4rem;
}
.footer p{
 line-height: 1px;
}
