body{
    font-family: 'Montserrat', sans-serif;
}

#header-menu{
    background-color:#272d51;
    height: 50px;
    color:white;
    font-weight: bold;
    
}

#header-menu>div{
    text-align: center;
    vertical-align: middle;
}

#logo-header{
    width: 12%;
}

#header-bandeau-site{
    background-image: url('../images/homepage1.jpg');
    background-size: auto;
    background-position: center;
    height: 34em;
   
    
}

#header-bandeau-site>div{
    text-align: center;
    

}

#header-bandeau-site>div>span{
    
    color: #272d51;
    
}

#fake-logo{
    font-weight: bold;
    font-size: 60px;
}

#big-s{
   font-size: 80px !important; 
}

#site-subtitle{
    font-size: 50px;
}

.partenaire>span{
    position: absolute;
    top:20%;
    left:20%;
}

.analyse>span{
    position: absolute;
    top:24%;
    left:11%;
}



#bandeau-accueil-1{
    background-image: url('../images/bloc1.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    padding-top: 3em;
    padding-bottom: 3em;
}

#bandeau-accueil-2{
    background: 
        /* top, transparent red, faked with gradient */ 
        linear-gradient(
          rgba(161, 213, 211, 0.75), 
          rgba(161, 213, 211, 0.75)
        ),
        /* bottom, image */
        url('../images/bloc2.png');
 
    background-size: cover;
    background-position: center;
    height: 400px;
}

#bandeau-accueil-3{
     background: 
        /* top, transparent red, faked with gradient */ 
        linear-gradient(
          rgba(213, 185, 112, 0.75), 
          rgba(213, 185, 112, 0.75)
        ),
        /* bottom, image */
       url('../images/bloc3.png');
    background-size: cover;
    background-position: center;
    height: 400px;
}

#bandeau-accueil-3>div>img{
    height: 260px;
}




.analyse{
   background-color: #272D51; 
    text-align: center;
    text-transform: uppercase;
    color:white;
    border :3px solid white;
    width: 400px;
    height:50px;
    z-index:5;
    position: absolute;
    
}

#infos-services>div{
    height: 2em;
    border-left: 5px solid #272D51;
    background-color: white;
    color:#272D51;
    font-size:25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom:5px;
    margin-right:5px;
    padding: 1%;
    padding-left: 4%;
        

}

#infos-services{
    padding-top: 7em;
    padding-bottom: 7em;
}

#text-accueil{
    background-color: white;
    padding: 2em;
    color:#272D51;
    
}

#text-accueil>h2{
    font-weight: bold;
}
#text-accueil>p{
    font-size: 14px
}

a:hover{
    color:#272D51 !important;
    text-decoration: none;
}
a:visited{
    color: #272D51 !important;
}

a{
  color: #272D51 !important;  
}

.footer a{
    color:white !important;
}

.divImg1{
    padding-top: 10em;
}

.divImg2{
    padding-top: 5em;
}

.divImg3{
    padding-top: 5em;
}

.divImg4{
    padding-top: 5em;
    background-image: url('../images/sol4.png');
    background-size: contain;
    background-position: center;
    height:423px;
    border: 1px solid lightgrey;
}





.title-img{
    font-size: 2em;
    font-weight: bold;
}

.texteEntreImages{
    margin-top: 1em;
    margin-bottom: 1em;
}

.texteEntreImages>p{
    padding: 0 !important
}

.containerSolutions{
    padding-bottom: 5em;
}

#titre{
    padding-top: 1em;
    padding-bottom: 1em;
}

.anchor{
    padding-top: 2em;
}




